# Openshift data
ocp-install
.env

# Terraform data
terraform/openshift-aws/.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.lock*
terraform/openshift-aws/generated
vpc.tf
ignitions.auto.tfvars.json

# AWS User-data
user-data/*-data

# Ansible
inventory/hosts.ini
ignitions

#Notes
*.txt