# Openshift data
ocp-install
.env

# Terraform data
terraform/openshift-aws/.terraform
*.tfstate
*.tfstate.backup
*.tfvars
terraform/openshift-aws/generated
vpc.tf

# AWS User-data
user-data/*-data

# Ansible
inventory/hosts.ini
ignitions